@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* Custom CSS for Card Views */




* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", san-serif;
    
}

/* DASHBOARD kineme */
        
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
   
}
        
.header {
    color: rgb(1, 1, 1);
    text-align: center;
    padding: 20px 0;
}
.nav{
    background-color: #011B10;
    color: #011B10;
}
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 99px;
    border-style: hidden;
    
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #6c757d;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.card-text {
    font-size: 0.875rem;
    text-decoration: none;
   
}
.col-md-4 a{
    text-decoration: none;
    color: black;

}

/* CSS for hover effect */

.card {
    transition: transform 0.3s ease-in-out;


}

.card:hover {
    transform: scale(1.05);
    box-shadow: 30 30 30px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border-color: rgb(0, 255, 128);
    
 

}


.card-body{
    background: #6c757d;
    /*border-radius: 30px;*/
    background: #011B10; 
    color: #ffffff;
    padding: 30px;

}
.card-body .card-title{
    color: #ffffff;
}

.card-body .card-subtitle{
    color: #ffffff;
}

.card-body .card-text{
    color: #ffffff;
}

.card-subtitle.mb-2.text-muted{
    color: #ffffff !important;
}

.footer {
    text-align: center;
    background-color:   #7b9678;;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}
